tqdm==4.46.0
bert_extractive_summarizer==0.5.1
torch==1.6.0
filelock==3.0.12
nltk==3.4.5
transformers==4.0.0
wasabi==0.6.0
faiss==1.6.3
spacy==2.3.2
requests==2.24.0
numpy==1.18.4
beautifulsoup4==4.9.3
