sentence_transformers==0.2.6.1
bert_extractive_summarizer==0.4.2
nltk==3.4.5
transformers==2.10.0
pandas==1.0.3
spacy==2.2.4
scipy==1.4.1
tqdm==4.46.0
matplotlib==3.2.1
faiss==1.6.3
plac==0.9.6
torch==1.5.0
numpy==1.18.4
dataclasses==0.7
prettytable==0.7.2
scikit_learn==0.23.1
