tqdm==4.46.0
spacy_nightly==3.0.0rc2
nltk==3.4.5
numpy==1.18.4
bert_extractive_summarizer==0.5.1
faiss==1.6.3
transformers==3.0.2
pandas==1.0.3
torch==1.6.0
dataclasses==0.7
spacy==2.3.2
summarizer==0.0.7
